#app-wrap {
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;

  .inner-wrap {
    height: 100%;
    width: 100%;
  }
}

/*
  Grouping Tools
*/

.group {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  &:last-child {
    border-bottom: 0;
  }
}

.card {
  margin: 8px;
  border: 1px solid #e6e6e6;
  @include depth(1);
  border-radius: $global-radius;

  &:hover {
    @include depth(2);
  }
}


/*
  Main
*/
.main-section {
  margin-left: $sourcebar-width;
  position: relative;
  top: 0;
  bottom: 0;
  height: auto;
  min-height: 100%;
  z-index: 0;
  padding: 1rem 2rem;
  background: #fff;
  height: 100%;
  position: relative;
  z-index: 1;
  @include depth(1);

  &.with-controlbar {
    margin-left: $sourcebar-width + $controlbar-width;
  }
}

/*
  Avatars
*/
img.avatar {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background-clip: content-box;
  border-position: inside;
  border: 2px solid transparent;
}

