/*
  Controlbars are vertical columns intended to
  hold filters and other supplemental information.

  Should be wrapped in a .scrollview.
*/

.controlbar-wrap {
  background-color: #fff;
  left: $sourcebar-width;
  @include depth(1);
  z-index: 2;
}

.controlbar {
  width: $controlbar-width;
  color: #999;

  ul {
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      padding: 0 0.5rem;
      &:hover,
      &.active {
        border-radius: $global-radius;
        background: $white-smoke;
      }
      &.active {
        background: $gainsboro;
      }
      a {
        line-height: 2.0rem;
        display: block;
      }

      span.label {
        color: #999;
        background: none;
        border: none;
        position: absolute;
        right: 0;
        top: 3px;
        font-size: inherit;
      }
    }
  }

  ul.with-icon {
    i.fa {
      margin-right: 0.62rem;
    }
  }

  a {
    color: #999;
  }

  h3 {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #a7a7a7;
    font-weight: 300;
    margin-bottom: 1.5rem;
  }
}

.controlbar header {
  background: $primary_color; // $dark-bg-hilite;
  padding: 1.1rem 1rem 0.7rem 1rem;
  border-bottom: 1px solid $dark-bg-hilite / 1.2;
  @include depth(1);

  .fa {
    margin-right: 0.5rem;
  }

  h2 {
    color: $snow;
    font-size: 1.1rem;
    line-height: 2.0rem;
    font-weight: normal;
    margin: 0;
  }
}

.controlbar {
  input,
  textarea,
  select,
  label {
    color: #999;
    border-color: #e6e6e6;
  }

  select {
    background-color: transparent;
  }
}
