#codeigniter-profiler {
  clear: both;
  background: #222;
  padding: 0 5px;
  font-family: Helvetica, sans-serif;
  font-size: 10px !important;
  line-height: 12px;
  position: absolute;
  width: auto;
  min-width: 52em;
  z-index: 1000;
  display: none;

  table {
    width: 100%;
    border: none;

    .hilight {
      color: #FFFD70 !important;
    }

    .faded {
      color: #aaa !important;
    }

    .small {
      font-size: 10px;
      letter-spacing: 1px;
      font-weight: lighter;
    }


    &.main {
      td {
        padding: 7px 15px;
        text-align: left;
        vertical-align: top;
        color: #aaa;
        border-bottom: 1px dotted #444;
        line-height: 1.5;
        background: #101010 !important;
        font-size: 12px !important;
      }

      tr:hover td {
        background: #292929 !important;
      }

      code {
        font-family: inherit;
        padding: 0;
        background: transparent;
        border: 0;
        color: #fff;
      }

    }
  }

}

.ci-profiler-box {
  padding: 10px;
  margin: 0 0 10px 0;
  max-height: 400px;
  overflow: auto;
  color: #fff;
  font-family: Monaco, 'Lucida Console', 'Courier New', monospace;
  font-size: 11px !important;

  h2 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px !important;
    padding: 0;
    line-height: 2.0;
  }

}

#ci-profiler-vars a { text-decoration: none; }

#ci-profiler-menu {
  a:link, a:visited {
    display: inline-block;
    padding: 10px 0 20px 0;
    margin: 0;
    color: #ccc;
    text-decoration: none;
    font-weight: lighter;
    cursor: pointer;
    text-align: center;
    width: 15.5%;
    border-bottom: 4px solid #444;
  }

  a:hover, a.current {
    background-color: #222;
    border-color: #999;
  }

  a span {
    display: block;
    font-weight: bold;
    font-size: 16px !important;
    line-height: 1.2;
  }
}

#ci-profiler-menu-time span, #ci-profiler-benchmarks h2 { color: #B72F09; }
#ci-profiler-menu-memory span, #ci-profiler-memory h2 { color: #953FA1; }
#ci-profiler-menu-queries span, #ci-profiler-queries h2 { color: #3769A0; }
#ci-profiler-menu-vars span, #ci-profiler-vars h2 { color: #D28C00; }
#ci-profiler-menu-files span, #ci-profiler-files h2 { color: #5a8616; }
#ci-profiler-menu-console span, #ci-profiler-console h2 { color: #5a8616; }
