/*
  The scroll is used to fix a column on the screen, full-height
  but allow it's content to scroll independantly of the main
  content area.
*/
.scrollview {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: $dark-bg-color;
  overflow-x: hidden;
  overflow-y: scroll;
}